/*
      Created by Keith Donegan of Code-Sucks.com
	  
	  E-Mail: Keithdonegan@gmail.com
	  
	  You can do whatever you want with these layouts,
	  but it would be greatly appreciated if you gave a link
	  back to http://www.code-sucks.com
	  
*/

* { padding: 0; margin: 0; 
font-family: 'NanumGothic', sans-serif !important;}

body{
	display: block;
}

.nav_tab{
	z-index: -1;
	
}

.nav_container {
	font-family: 'NanumGothic', sans-serif !important;
	text-align:center;
    height: 80px !important;
    width: 100% !important;
    position: relative !important;
	
}

.nav_alpa{
	background-color: rgba(255, 255, 255, 0.5) !important;
}


.changeColor{
	background-color: white;
}

.nav_bar {
	width: 1200px;
	margin: auto;
	padding: 10px;

}

.nav_logo{

	max-width: 100%;
    margin-left: 250px;
    position: relative;
    max-height: 50px;
    margin: auto;
    float: left;
   	 
}

.nav_contents{
    float: right;
	right: 250px;
}

.serch{
	margin: 0 auto;
	box-sizing: border-box;
	
}

.serch_bar{
	
	padding: 10px;
	font-size: 17px;
	border: 1px solid rgb(221, 221, 221) !important;
	float: left;
	width: 80%;
	border-bottom-left-radius: 32px !important;
	border-top-left-radius: 32px !important;
	
	color: rgb(34, 34, 34) !important;
    height: 50px !important;
    position: relative !important;	
	
    max-width:500px;
    min-width: 150px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 16px 32px, rgba(0, 0, 0, 0.1) 0px 3px 8px !important;
    background-color: rgb(247, 247, 247) !important;

}

.serch_btn{
	
	float: left;
	width: 20%;

    max-width: 200px !important;
    min-width: 50px;
    background: rgb(255, 56, 92) !important;
    border: 0px !important;
    color: rgb(255, 255, 255) !important;
    cursor: pointer !important;
    font-family: inherit !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 16px !important;
    


    border-bottom-right-radius: 24px !important;
    border-top-right-radius: 24px !important;
    height: 50px !important;
    width: 100px;
    position: relative !important;
    transition: max-width 0.2s cubic-bezier(0.35, 0, 0.65, 1) 0s !important;
     box-shadow: rgba(0, 0, 0, 0.15) 0px 16px 32px, rgba(0, 0, 0, 0.1) 0px 3px 8px !important;
 
    align-items: center !important;
}



.footer-logo{
	max-width: 100%;
    margin-left: 250px;
    position: relative;
    max-height: 50px;
    margin: auto;
    margin-bottom: 2em;
}
.footer-null-logo{
	max-width: 100%;

    max-height: 50px;

}


.inner_width{
	padding: 0;
    text-align: left;
	width: 1158px;
    margin: 0 auto;
}


#content_wraper{
	position: relative;
	z-index:-1;
	top:0;
	margin: 0 auto;
 	width: 100%;
}


body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}

#carousel_heigth{
	height: 580px;

    overflow: hidden;
}

.color_gray{
	border: 1px solid gray;
	min-width: 100%;
	min-height: 150px;
	width: 100%;
	max-width: 220px;
	height: 220px;
}

.main_hti_img{
    padding-top: 62px;
    padding-bottom: 30px;
}

.swiper-custom{
	margin: 0 auto;
    position: relative;
    min-width:900px;
    max-width: 1200px;
    height: 500px;
}

.main_sub_title{
	
	font-family: NanumBarunGothicBold,sans-serif;
    text-align: center;
    letter-spacing: -.5px;
    line-height: 1.2;
    color: #000;
}






